* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pedal-font: 20px;
  --primary-font: Arial, Helvetica, sans-serif;
  --primary-text-color: #ff7400;
  --secondary-text-color: white;
}

.page-container {
  background: url(../images/amp.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  max-width: 100vh;
}

/* Header Text */

.header {
  display: inline-block;
  margin: 0 10px;
  justify-content: center;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 20px;

  padding: 70px 50px;
  position: sticky;
  top: 30;
}

.header span {
  color: var(--secondary-text-color);
}

.header-text {
  display: inline-block;
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
  font-weight: 100;
  font-size: 15px;
  margin: 0 6px;
  padding: 15px;
  background: #666;
  border: 1px solid black;
  border-radius: 15px;
  position: sticky;
  top: 50px;
}
.header-text span {
  color: var(--primary-text-color);
}

.footer-text {
  display: inline-block;
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
  font-weight: 100;
  font-size: 15px;
  padding: 30px 50px;
  background: #666;
  border: 1px solid black;
  border-radius: 15px;
  position: sticky;
  top: 900px;
  margin: 0 15px;
}

.footer-text span {
  color: var(--primary-text-color);
}

/* Peal Boxes */

.pedal-grid {
  display: grid;
  grid-template-columns: 300px;
  align-items: center;
  justify-content: center;
  margin: 20px 50px;
  background: transparent;
}

.pedals {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  color: white;
}

/* Tooltip text*/

.pedal-box {
  position: relative;
}

.pedal-grid .pedal-box:hover::after {
  content: attr(text);
  position: absolute;
  background: white;
  left: 30px;
  top: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  color: black;
  font-size: var(--pedal-font);
  font-family: var(--primary-font);
  width: 30px;
  z-index: -2;
}

.pedal-grid .pedal-box:hover::before {
  content: "";
  position: absolute;
  left: 35px;
  top: 5rem;
  border-top: 50px solid transparent;
  border-right: 10px solid white;
  border-bottom: 50px solid transparent;
  border-width: 1rem 1rem 1rem 0;
  z-index: -2;
}

.youtube {
  position: absolute;
  top: 0px;
  left: 0px;
  align-items: center;
  display: none;
}

.toggler {
  position: absolute;
  top: 170px;
  left: 90px;
  z-index: 2;
  cursor: pointer;
  width: 40%;
  height: 40%;
  opacity: 0;
}

.toggler + .youtube + .notube {
  display: none;
}
.pedal-box .toggler:checked ~ .youtube {
  display: initial;
}

/* Animation */
.notes {
  animation: notes 2s infinite linear;
  animation-play-state: paused;
}

.musicnotes-1 .notes {
  color: white;
}
.musicnotes-2 .notes {
  color: purple;
}
.musicnotes-3 .notes {
  color: brown;
}
.musicnotes-4 .notes {
  color: black;
}
.musicnotes-5 .notes {
  color: red;
}
.musicnotes-6 .notes {
  color: grey;
}
.musicnotes-7 .notes {
  color: green;
}
.musicnotes-8 .notes {
  color: blue;
}
.musicnotes-9 .notes {
  color: indigo;
}

.note-1,
.note-2,
.note-3,
.note-4 {
  position: absolute;
  font-size: 35px;
  opacity: 0;
  left: 5px;
  bottom: 5px;
  z-index: -1;
}

.pedal-box:hover .notes {
  animation-play-state: running;
  z-index: 1;
}

.note-1 {
  animation-delay: 0.5s;
}
.note-2 {
  animation-delay: 1s;
}

.note-3 {
  animation-delay: 1.5s;
}

.note-4 {
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

.footer {
  padding: 100px;
}
